.sidebar {
  display: none;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #5cb85c;
}

@media (min-width: 768px) and (max-width: 992px) {
  .sidebar {
    width: 190px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .sidebar {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    width: 250px;
  }
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 0px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
  }
}
